<a href="https://colab.research.google.com/github/RCTom168/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/RT_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
#Let's start with the Ames Iowa Housing Dataset
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')
print(df.shape) #Display the number of rows and columns
df.head() #Print out the data set

(1460, 81)

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [0]:
pd.set_option('display.max_rows', 100) 
#Removes the truncation limitation so that we can see more of the different 
#variables for the houses (in this case up to 100)
df.dtypes #display the different types for each variable

In [0]:
#Look at the first 20 rows in the BedroomAbvGr 
df['BedroomAbvGr'].head(20)

In [0]:
#Look at the first 20 rows in the LotFrontage columns
df['LotFrontage'].head(20)

In [0]:
#Unlike the BedroomAbvGr column, the LotFrontage column appears to have its 
#variables as floats due to the NaN values that are there
#Let's count everything to get an idea of how many times each value appears
df['LotFrontage'].value_counts(dropna=False)

#It looks like NaN comes up more than any other variable value

In [0]:
#To be clear, NaN are float values, not integers
import numpy as np
type(np.NaN)

In [0]:
#We can make a smaller dataframe by selecting a few specific column headers
#We can facilitate this by passing the list of column headers inside of square brackets
#This gathers the information from these 4 columns & saves a copy.
small_df = df[['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'SalePrice']].copy()

#This prints out the new dataframce small_df
small_df

In [0]:
#Using the information from these columns, we can calculate a square footage
#column for the entire dataset
#We can do this by using bracket syntax
small_df['TotalSquareFootage'] = small_df['TotalBsmtSF'] + small_df['1stFlrSF'] + small_df['2ndFlrSF']
small_df.head()

In [0]:
# We can also calculate the price per square footage by
# dividing the price by the square footage
small_df['PricePerSqFt'] = small_df['SalePrice'] / small_df['TotalSquareFootage']
small_df.head()

In [0]:
# Using the information here, one can infer that a high PricePerSqFt is
# means that a house could have more features that add to its value
# However, in many cases it is probably in a more expensive neighborhood, or 
# perhaps in an area with a higher cost or standard of living.
# For a low PricePerSqFt it could be inferred that the house could be one built
# of lower quality, located in a less expensive neighborhood, or an area with a
# lower cost or standard of living.

In [0]:
#For this next part, we can start working with the LendingClub Dataset
#We can use the bash command !wget to retrive the information
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

# We can use the bash command !unzip tp unzip the file, that way we can use it
!unzip LoanStats_2018Q4.csv.zip

In [0]:
#The bash command !head prints out the first 10 lines
!head LoanStats_2018Q4.csv

In [0]:
#The bash command !tail prints out the last 10 lines
!tail LoanStats_2018Q4.csv

In [0]:
#Now we can read the CSV
#It looks like the headers are throwing off dataset
# We can alleviate this with header=1, setting the 1st row as the headers
# It looks like the bottom 2 rows are a problem as well
# We can alleviate this with skipfooter=2, skipping the bottom 2 rows
#Using skipfooter brings up a ParserWarning
#engine = 'python' is used to remove the ParserWarning, mostly for aesthetic reasons

df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine = 'python')
print(df.shape)
df.head()

In [0]:
# There appear to be a lot of NaN values in this dataset
# Let's take a look at the number of NaN values in each column
pd.set_option('display.max_rows', 200) #Display up to 200 rows

df.isnull().sum().sort_values() #Add up, sort, and display the NaN values in each column

In [0]:
# We can see that some of the columns are completely blank, most likely due to
# the information being sensitive
# Because these columns have no information, we can drop them
df = df.drop(['url', 'member_id', 'desc', 'id'], axis = 1)
df.head()

In [0]:
# We can take a look at the values in the int_rate column
# To start we can look at the first 10 values
df['int_rate'].head(10)

In [0]:
# We can also look at the values in the int_rate column within a specific range
# This will pull up the same information as df['int_rate'].head(10)
df['int_rate'][0:10]

In [0]:
# This will pull up the values from 3 to 6, 7 not being included
df['int_rate'][3:7]

In [0]:
# Lastly, we can look at a specific value from the int_rate column
df['int_rate'][3]

In [0]:
# In the int_rate column, we have a few problems.
# The values are considered strings, the % is included, and there is a leading space
# To remove these obstacles we will have to take care of them 1 at a time
# .strip() remvoves certain things from a string
# .strip() removes leading spaces & .strip(%) removes the % sign
int_rate = ' 14.17%'
int_rate.strip().strip('%')

In [0]:
# Once we have removed everything else, we can "Cast" the string value to a float
float(int_rate.strip().strip('%'))

In [0]:
# Doublechecking we can see that we have successfully "cast" the string to a float value
type(float(int_rate.strip().strip('%')))

In [0]:
# We can also create a function that can do the same thing with any string
def int_rate_to_float(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [0]:
# Testing our function, we can see that it produces the same results
int_rate_to_float(int_rate)

In [0]:
type(int_rate_to_float(int_rate))

In [0]:
for cell in df['int_rate']:
  print(int_rate_to_float(cell))

In [0]:
# We can now apply our solutions to every cell in every column
new_list = []
for cell in df['int_rate']:
  new_list.append(int_rate_to_float(cell))

df['int_rate_cleaned'] = pd.Series(new_list)
df['int_rate_float'] = df['int_rate'].apply(int_rate_to_float)
df.head()

In [0]:
# If we want to , we can look at the dtatypes of the last 5 columns
df.dtypes[-5:]

In [0]:
# We can also see that the Employment Title column is causing us some trouble as well
# We can start by looking at the top 20 Employment Titles
df['emp_title'].value_counts(dropna=False)[:20]

In [0]:
# How many different unique employment titles are there currently?
len(df['emp_title'].value_counts())

In [0]:
# How often is the employment_title null?
df['emp_title'].value_counts()

In [0]:
df['emp_title'].isnull().sum()

In [0]:
# We can take a look at some examples of Employer Titles that we can change
# We can also clean them up so that they have the same formatting
import numpy as np

examples = ['owner', 'Supervisor', ' Project Manager', np.NaN]

def clean_title(job_title):
  if isinstance(job_title, str):
    return job_title.title().strip()
  else:
    return "Unknown"
  
for title in examples:
  print(clean_title(title)) #This reformats things using "Title casing", like a book's title

In [0]:
# A List Comprehenstion is a much more succinct and readable way of writing code
# They combine function calls and for loops over lists

[clean_title(example) for example in examples]
#In plain English, this can be read as "Clean the Title for each example in examples"

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [0]:
# Now that we know this function works, we can apply it to the column
df['emp_title'] = df['emp_title'].apply(clean_title)

df.head(5)

In [0]:
# Look at the top 20 employment titles
df['emp_title'].value_counts(dropna = False, ascending=False)[:20]

In [0]:
# How many different unique employment titles are there currently?

len(df['emp_title'].value_counts())

34902

In [0]:
# How often is the employment_title null (NaN)?
df['emp_title'].isnull().sum()

0

In [0]:
#Now we can do some work with Dates

In [0]:
# Many of the most useful date columns in this dataset have the suffix
# _d to indicate that they correspond to dates
# We can use a list comprehension to print them out
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
#Let's look at the string format of the issue_d column
df['issue_d'][:10]

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
5    Dec-2018
6    Dec-2018
7    Dec-2018
8    Dec-2018
9    Dec-2018
Name: issue_d, dtype: object

In [0]:
# Pandas is able to detect common datetime formats such as the string format 
# %m-%y  and translate it to the appropriate datetime object.
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format = True)

df.dtypes[:15]

In [0]:
# With this, the issue_d column has been changed to hold datetime objects
df['issue_d'].loc[0]

In [0]:
df['issue_d'].head().values

In [0]:
# dt accessor can be used to grab specific parts of the datetime object
# From the issue_d column, we can grab year
df['issue_d'].dt.year

In [0]:
# We can also grab month
df['issue_d'].dt.month

In [0]:
# These year and month values can also be added as new columns to the data frame
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month
df.head()

In [0]:
# Now let's do this with the earliest_cr_line column
df['earliest_cr_line'].head()

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line']
                                        , infer_datetime_format = True)

In [0]:
df['issue_d'] - df['earliest_cr_line']

0        14428 days
1         5570 days
2         4383 days
3         1979 days
4        12144 days
            ...
128407   12114 days
128408   13241 days
128409    4505 days
128410    3652 days
128411    4413 days
Length: 128412, dtype: timedelta64[ns]

In [0]:
df['days_from_earliest_credit_to_issue'] = (df['issue_d'] - df['earliest_cr_line']).dt.days
df.head()

In [0]:
df['days_from_earliest_credit_to_issue'].describe()

In [0]:
# average credit history length in years (roughly)
5859/365

16.052054794520547

In [0]:
# 25,171 days is ~ 68.96 years of credit history!
25171/365

68.96164383561644

In [0]:
# Let's Convert the Term column from string to integer.

In [0]:
#This brings the file down for easier access
import pandas as pd
import numpy as np

!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

!unzip LoanStats_2018Q4.csv.zip

--2019-12-06 12:59:37--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [            <=>     ]  21.69M   426KB/s    in 53s

2019-12-06 13:00:31 (421 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22744357]

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
df = pd.read_csv('LoanStats_2018Q4.csv', header = 1)
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(128414, 144)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
# drop the 100% blank columns

df = df.drop(['url', 'member_id', 'desc', 'id'], axis = 1)
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0    20000.0      20000.0  ...                    NaN             NaN
1    25000.0      25000.0  ...                    NaN             NaN
2    26500.0      26500.0  ...                    NaN             NaN
3    10400.0      10400.0  ...                    NaN             NaN
4    35000.0      35000.0  ...                    NaN             NaN

[5 rows x 140 columns]

In [0]:
# Look at the first 10 variables in the Term Column
df['term'].head(10)

In [0]:
# Here we start the new function string to integer
# For this it is mean to remove the white space and the word months
# in a cell
def string_to_int(cell_contents):
  return int(cell_contents.strip().strip('months'))

In [0]:
# This states that for every cell in the Term column, apply the aforementioned
# function and print
# The result is the strings having been casted into integers
for cell in df['term']:
  print(string_to_int(cell))

In [0]:
# Next we will try to Make a column named loan_status_is_great. It should 
# contain the integer 1 if loan_status is "Current" or "Fully Paid." 
# Else it should contain the integer 0.
df['loan_status'].value_counts(dropna = False)[:20]

In [0]:
# Here we are starting a new function to turn the loan status names
# into an integer, either 1 or 0
def loan_status_to_integer(loan_status):

# This is stating that if the loan status reads as Current or Fully Paid
# Then return the integer 1
  if (loan_status == 'Current') or (loan_status == 'Fully Paid'):
    return 1

# Otherwise, return the integer 0
  else:
      return 0

# This is creating the new column "loan_status_is great", stating
# that it is equivalent to the "loan_status column" applying the loan_status_to_integer function

df['loan_status_is_great'] = df['loan_status'].apply(loan_status_to_integer)
df.head(10)

   loan_amnt  funded_amnt  ...  settlement_term loan_status_is_great
0    20000.0      20000.0  ...              NaN                    1
1    25000.0      25000.0  ...              NaN                    1
2    26500.0      26500.0  ...              NaN                    1
3    10400.0      10400.0  ...              NaN                    1
4    35000.0      35000.0  ...              NaN                    1
5    20000.0      20000.0  ...              NaN                    1
6    13000.0      13000.0  ...              NaN                    1
7    12000.0      12000.0  ...              NaN                    1
8    12000.0      12000.0  ...              NaN                    1
9    36000.0      36000.0  ...              NaN                    1

[10 rows x 141 columns]

In [0]:
# Here we make the last_pymnt_d_month & last_pymnt_d_year columns
# Like above, we will look up the columns that have "_d" in them
# as this usually is what indicates a column that has dates
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
# Let's take a look at the first few values of the last_pymnt_d column
df['last_pymnt_d'][:10]

0    Nov-2019
1    Apr-2019
2    Oct-2019
3    Oct-2019
4    Apr-2019
5    Feb-2019
6    Oct-2019
7    Sep-2019
8    Oct-2019
9    Nov-2019
Name: last_pymnt_d, dtype: object

In [0]:
# First we will convert these date values into the datetime format
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format = True)

df.dtypes[40:50]

collection_recovery_fee               float64
last_pymnt_d                   datetime64[ns]
last_pymnt_amnt                       float64
next_pymnt_d                           object
last_credit_pull_d                     object
collections_12_mths_ex_med            float64
mths_since_last_major_derog           float64
policy_code                           float64
application_type                       object
annual_inc_joint                      float64
dtype: object

In [0]:
# We can use the .dt accesor to grab specific parts of the datetime object
# In the last_pymnt_d column
df['last_pymnt_d'].dt.year

0         2019.0
1         2019.0
2         2019.0
3         2019.0
4         2019.0
           ...
128409    2019.0
128410    2019.0
128411    2019.0
128412       NaN
128413       NaN
Name: last_pymnt_d, Length: 128414, dtype: float64

In [0]:
df['last_pymnt_d'].dt.month

0         11.0
1          4.0
2         10.0
3         10.0
4          4.0
          ...
128409    11.0
128410    11.0
128411    11.0
128412     NaN
128413     NaN
Name: last_pymnt_d, Length: 128414, dtype: float64

In [0]:
df['last__pymnt_year'] = df['last_pymnt_d'].dt.year
df['last__pymnt_month'] = df['last_pymnt_d'].dt.month
df.head()

   loan_amnt  funded_amnt  ...  last__pymnt_year last__pymnt_month
0    20000.0      20000.0  ...            2019.0              11.0
1    25000.0      25000.0  ...            2019.0               4.0
2    26500.0      26500.0  ...            2019.0              10.0
3    10400.0      10400.0  ...            2019.0              10.0
4    35000.0      35000.0  ...            2019.0               4.0

[5 rows x 143 columns]

In [0]:
# Next we are going to clean up the other dataframe with percent signs
# The other column we can see is the revol_util	column
df['revol_util'].head(10)

0      73%
1    36.8%
2    65.4%
3     9.8%
4    74.9%
5    29.9%
6    49.6%
7    50.9%
8    27.8%
9    40.7%
Name: revol_util, dtype: object

In [0]:
revol_util = '36.8%'

In [0]:
revol_util.strip()

'36.8%'

In [0]:
revol_util.strip('%')

'36.8'

In [0]:
revol_util.strip().strip('%')

'36.8'

In [0]:
type(revol_util.strip().strip('%'))

str

In [0]:
float(revol_util.strip().strip('%'))

36.8

In [0]:
type(float(revol_util.strip().strip('%')))

float

In [0]:
# As with the int_rate column we will be removing the white spaces
# & the % sign
# float converts the strings in the column in to floats
# revol_util.strip() removes the white space
# .strip('%') removes the % sign

def revol_util_to_float(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [0]:
revol_util_to_float(revol_util)

36.8

In [0]:
type(revol_util_to_float(revol_util))

float

In [0]:
for cell in df['revol_util']:
  print(revol_util_to_float(cell))

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01